<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BeerRoute</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <!--vamos colocar um logotipo do lado esquerdo da navbar-->
                <a class="navbar-brand" href="/Home">
                    <img src="~/images/logo.svg" alt="BeerRoute" width="150" height="50" class="d-inline-block align-top" />
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/Home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Usuarios">Usuários</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Cervejarias">Cervejarias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/CervejariaTipoCervejas">CervejariaTipoCervejas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/TipoCervejas">TipoCervejas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/CompraCreditos">CompraCreditos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Eventos">Eventos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Visitas">Visitas</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-4">
        @RenderBody()
    </div>
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">&copy; 2023 - BeerRoute</span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>