@model BeerRoute.Models.Cervejaria

@{
    ViewData["Title"] = "Gerenciar Cervejas - " + Model.Nome;
}

<h1>Gerenciar Cervejas - @Model.Nome</h1>

<p>
    <a asp-action="Index" class="btn btn-secondary">Voltar à Lista</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Tipo de Cerveja</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tipoCerveja in Model.CervejariaTiposCervejas)

        {
            <tr>
                <td>@tipoCerveja.TipoCerveja.Nome</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@tipoCerveja.Id" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger btn-sm">Remover</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
