@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao BeerRoute</h1>
    <p>BeerRoute é uma aplicação web que te ajuda a encontrar a cerveja perfeita em sua área.</p>
    <p>Clique em "Cervejarias" ou "Cervejas" na barra de navegação para iniciar.</p>
    <p>Aproveite!</p>
</div>
