@page
@model LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<h1>@ViewData["Title"]</h1>

<h4>Are you sure you want to log out?</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <button type="submit" class="btn btn-primary">Logout</button>
            <a asp-page="./Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
