@model BeerRoute.Models.ViewModels.ViewModelVisita

@{
    ViewData["Title"] = "Criar";
}

<h1>Criar</h1>

<hr />
<div class="row">
    <div class="col-md-6 col-lg-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label">Usuário</label>
                <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId"></select>
                <span asp-validation-for="UsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstiloCerveja" class="control-label">Estilo de Cerveja</label>
                <select asp-for="EstiloCerveja" class="form-control" asp-items="ViewBag.EstiloCerveja" id="estiloCervejaSelect"></select>
                <span asp-validation-for="EstiloCerveja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CervejariaIds" class="control-label">Cervejarias</label>
                <select asp-for="CervejariaIds" class="form-control" asp-items="ViewBag.CervejariaIds" multiple id="cervejariaSelect"></select>
                <span asp-validation-for="CervejariaIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataVisita" class="control-label">Data da Visita</label>
                <input asp-for="DataVisita" class="form-control" />
                <span asp-validation-for="DataVisita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditosUtilizados" class="control-label">Créditos Gastos</label>
                <input asp-for="CreditosUtilizados" class="form-control" />
                <span asp-validation-for="CreditosUtilizados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avaliacao" class="control-label">Avaliação</label>
                <input asp-for="Avaliacao" class="form-control" />
                <span asp-validation-for="Avaliacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comentario" class="control-label">Comentário</label>
                <input asp-for="Comentario" class="form-control" />
                <span asp-validation-for="Comentario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index">Voltar para a Lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#estiloCervejaSelect').change(function () {
                var estiloCerveja = $(this).val();
                $.getJSON('@Url.Action("GetCervejariasByEstiloCerveja", "Visitas")', { estiloCerveja: estiloCerveja }, function (data) {
                    var items = '<option value="">Selecione uma Cervejaria</option>';
                    $.each(data, function (i, cervejaria) {
                        items += '<option value="' + cervejaria.id + '">' + cervejaria.nome + '</option>';
                    });
                    $('#cervejariaSelect').html(items);
                });
            });
        });
    </script>
}
