@model BeerRoute.Models.ViewModels.ViewModelVisita

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<hr />
<div class="row">
    <div class="col-md-6 col-lg-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (ViewData.ModelState.ErrorCount > 0)
            {
                <div class="alert alert-danger">
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <p>@error.ErrorMessage</p>
                    }
                </div>
            }
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UsuarioId" />
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label">Usuário</label>
                <input type="text" class="form-control" value="@ViewBag.UsuarioNome" disabled />
            </div>
            <div class="form-group">
                <label asp-for="EstiloCerveja" class="control-label">Estilo de Cerveja</label>
                <input type="text" class="form-control" value="@Model.EstiloCerveja" disabled />
            </div>
            <div class="form-group">
                <label asp-for="CervejariaIds" class="control-label">Cervejarias</label>
                <select asp-for="CervejariaIds" class="form-control" asp-items="ViewBag.CervejariaIds" multiple disabled></select>
                <span asp-validation-for="CervejariaIds" class="text-danger"></span>
                @foreach (var cervejariaId in Model.CervejariaIds)
                {
                    <input type="hidden" name="CervejariaIds" value="@cervejariaId" />
                }
            </div>
            <div class="form-group">
                <label asp-for="DataVisita" class="control-label">Data da Visita</label>
                <input asp-for="DataVisita" class="form-control" />
                <span asp-validation-for="DataVisita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditosUtilizados" class="control-label">Créditos Utilizados</label>
                <input asp-for="CreditosUtilizados" class="form-control" />
                <span asp-validation-for="CreditosUtilizados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avaliacao" class="control-label">Avaliação</label>
                <input asp-for="Avaliacao" class="form-control" />
                <span asp-validation-for="Avaliacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comentario" class="control-label">Comentário</label>
                <input asp-for="Comentario" class="form-control" />
                <span asp-validation-for="Comentario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModoViagem" class="control-label">Modo de Viagem</label>
                <select asp-for="ModoViagem" class="form-control">
                    <option value="DRIVING">Carro</option>
                    <option value="WALKING">A pé</option>
                </select>
                <span asp-validation-for="ModoViagem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index">Voltar para a Lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}