@model IEnumerable<BeerRoute.Models.Cervejaria>

@{
    ViewData["Title"] = "Cadastro de Cervejarias";

    var apiKey = ViewBag.ApiKey;

    var beerIconUrl = Url.Content("~/images/lupuloicon.svg"); // Caminho para o ícone lúpulo em formato PNG
}

<h1>Cadastro de Cervejarias</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar Nova Cervejaria</a>
    <a asp-action="List" class="btn btn-secondary">Listar Cervejarias</a>
</p>

<div id="map" style="height: 500px; width: 100%; margin-top: 20px;"></div>

@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=@apiKey&callback=initMap" async defer></script>
    <script>
        var map;
        var markers = [];
        var beerIconUrl = '@beerIconUrl';

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -30.0344, lng: -51.2280 },
                zoom: 15
            });

        @foreach (var cervejaria in Model)

        {
            <text>
                        var marker = new google.maps.Marker({
                            position: {lat: @cervejaria.Latitude, lng: @cervejaria.Longitude },
                        map: map,
                        title: '@cervejaria.Nome' + ' - ' + '@cervejaria.Endereco',
                        icon: {
                            url: beerIconUrl,
                        scaledSize: new google.maps.Size(48, 48) // Ajuste o tamanho do ícone aqui
                                    }
                                });

                        markers.push(marker);
            </text>
        }
    }
    </script>
}
